.Card {
  backdrop-filter: blur(2px);
  border: 1px solid rgba(153, 153, 153, 0.497);
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  margin-bottom: 25px;
  width: 400px;
  text-align: center;
}

.name {
  color:white;
  padding: 10px;
  font-size: 1.2em;
  text-decoration: none;
}

h4 {
  color:white;  
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 20px;
  font-size: .7em;
  text-decoration: none;
}

.editButton {
  width: 20px;
  float:right;

}
.editButton:hover {
  cursor: pointer;
}