.App {
  font-family:'Times New Roman', Times, serif;
  font-weight:100; 
  font-style:normal;
  font-size: calc(10px + 2vmin);
  color: black;
  justify-content: center;
  background-color: white;
  padding:20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

a:link { text-decoration: none; color: inherit;}


a:visited { text-decoration: none; color: inherit;}


a:hover { text-decoration: none; color: inherit;}


a:active { text-decoration: none; color: inherit;}

.header {
  width: 100%;
  color:black;
  text-align: center;
}

.header li {
  display: inline;
}

.header h1 {
  list-style-type: none;
}

.headerBtn {
  margin-bottom: 50px;
  margin-right: 10px;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 15px;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color:white;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}